.button {
    padding: 10px 60px;
    background-color: lawngreen;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 40px;
    transition:  .3s;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 darkgreen;
}

.button:active {
    transform: translateY(-2px);
    box-shadow: 0 3px 0 darkgreen;
}