.category-checkbox-wrapper {
    padding: 0 10px;
}

.category-checkbox-wrapper > input {
    display: none;
}

.category-checkbox-wrapper > label {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    cursor: pointer;
}

.category-checkbox-wrapper > label::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    height: 16px;
    width: 16px;
    box-shadow: 1px 2px 5px black;
    cursor: pointer;
}

.category-checkbox-wrapper > input[type="checkbox"]:checked ~ label::before {
    background-image: url(../../images/checkboxChecked.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}